@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    outline: none;
}

body{
    background: #070231;
    padding-top: 30px;
}

.school{
    background: rgb(31, 31, 31);
    color: rgb(236, 236, 236);
    text-shadow: 1px 1px 1px black;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    padding: 10px;
}

#summary{
    font-family: 'Anton', sans-serif;
    background: linear-gradient(rgb(59, 59, 59), gray);
    color: rgb(233, 233, 233);
}

.game{
    background: linear-gradient(rgb(90, 185, 248), rgb(74, 127, 240));
    border: 2px solid rgb(73, 73, 226);
    width: 480px;
    height: 500;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.disease{
    background: rgb(144, 235, 126);
    border: 1px solid black;
    border-radius: 10px;
}

.addiction{
    background: linear-gradient(rgb(233, 167, 67), rgb(255, 102, 0));
    border: 1px solid black;
    border-radius: 10px;
}

.top{
    height: 40px;
    position: sticky;
    width: 450px;
    color: white;
    padding-top: 0px;
    background: rgb(25, 118, 224);
    display: grid;
    text-shadow: 0.2px 0.4px 0.8px black;
    grid-template-columns: repeat(2, auto);
    padding: 10px;
    border-radius: 10px;
}

.money{
    color: rgb(148, 255, 148);
    font-weight: bolder;
    text-shadow: 0.5px 1px 1.5px black;
}

.name{
    color: rgb(193, 204, 230);
    font-weight: bolder;
    cursor: pointer;
    text-decoration: underline;
}

.events{
    width: 450px;
    overflow: scroll;
    border-radius: 10px;
    background: rgb(25, 118, 224);
    color: white;
    text-shadow: 0.5px 1px 1.5px black;
    height: 300px;
    text-align: left;
    padding: 10px;
}

.ageSpot{
    color: rgb(242, 239, 255);
    margin-left: 10px;
}

.age{
    color: rgb(200, 188, 243);
    font-weight: bolder;
    padding-bottom: 1px;
    margin-bottom: 0px;
}

.event{
    padding-top: 0px;
    margin-top: 0px;
    color: rgb(221, 224, 253);
    font-weight: bold;
    margin-left: 5px;
}

#prisonLeave{
    text-align: center;
    background: rgb(3, 30, 78);
    border-radius: 10px;
    width: 440px;
    height: 70px;
    padding: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
}

.buttons{
    text-align: center;
    background: rgb(25, 118, 224);
    border-radius: 10px;
    width: 440px;
    height: 70px;
    padding: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.button{
    cursor: pointer;
    border-radius: 50%;
    color: white;
    transition: 0.5s ease all;
}

.button:hover{
    transform: scale(1.1);
}

.button:active{
    transform: scale(1.01);
    transition: 0.1s ease all;
    background: black;
    color: white;
}

.ageButton{
    background: rgb(38, 132, 209);
    border: 2px solid rgb(7, 72, 158);
    width: 69px;
    height: 69px;
}

.leaveButton{
    background: rgb(38, 132, 209);
    border: 2px solid rgb(7, 72, 158);
    width: 69px;
    height: 69px;
}

.option{
    background: rgb(126, 184, 231);
    border: 2px solid rgb(7, 72, 158);
    width: 69px;
    height: 69px;
    font-size: 9px;
}

.stats{
    background: rgb(25, 118, 224);
    color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    height: 150px;
    width: 450px;
    padding: 10px;
}

.inf{
    padding: 0px;
    margin: 0px;
}

.healthBar{
    width: 100px;
    background: rgb(70, 70, 70);
    height: 10px;
    text-align: left;
    transition: 0.5s ease all;
    border-radius: 2px;
}

.italic{
    color: rgb(68, 68, 68);
    font-style: italic;
}

.healthMiddle{
    height: 10px;
    background: linear-gradient(rgb(98, 214, 63), rgb(22, 161, 22));
    border-radius: 2px;
    transition: 0.2s ease all;
}

.humanRel{
    display: grid;
    width: 200px;
    grid-template-columns: repeat(3, auto);
}

.human{
    background: rgb(10, 64, 158);
    border: 2px solid black;
    color: white;
    border-radius: 10px;
    transition: 0.2s ease all;
    cursor: pointer;
}
.teachName{
    padding: 0px;
    margin: 0px;
}
.inmate{
    background: rgb(3, 30, 78);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.2s ease all;
    cursor: pointer;
}
.inmate:hover{
    background: black;
    color: white;
    border: 2px solid gray;
}
.human:hover{
    background: black;
    color: white;
    border: 2px solid gray;
}

.teacher{
    background: rgb(3, 30, 78);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.2s ease all;
    cursor: pointer;
    padding-bottom: 10px;
}
.teacher:hover{
    background: black;
    color: white;
    border: 2px solid gray;
}

.schoolbox{
    width: 300px;
}

.student{
    background: rgb(62, 65, 209);
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.2s ease all;
    cursor: pointer;
    padding-bottom: 10px;
}
.student:hover{
    background: black;
    color: white;
    border: 2px solid gray;
}

.clique{
    background: rgb(41, 136, 22);
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.2s ease all;
    cursor: pointer;
    padding-bottom: 10px;
}
.clique:hover{
    background: black;
    color: white;
    border: 2px solid gray;
}

.hang{
    background: rgb(0, 0, 0);
    border: 2px solid rgb(107, 107, 107);
    font-weight: bolder;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s ease all;
    margin: 4px;
}

.hang:hover{
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border: 2px solid gray;
}

.activity{
    background: rgb(0, 0, 0);
    width: 300px;
    height: 30px;
    border: 2px solid rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease all;
}

.activity:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid gray;
}

.date{
    background: rgb(206, 12, 157);
    width: 300px;
    height: 30px;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease all;
}

.date:hover{
    background: rgb(238, 10, 10);
    color: white;
    border: 2px solid rgb(150, 24, 24);
}

.crime{
    background: rgb(206, 12, 12);
    width: 300px;
    height: 30px;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease all;
}

.friend:hover{
    background: rgb(19, 95, 12);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(110, 190, 143);
}

.drug{
    background: rgb(206, 90, 12);
    width: 300px;
    height: 30px;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease all;
}

.drug:hover{
    background: rgb(95, 56, 12);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(190, 162, 110);
}

.friend{
    background: rgb(89, 243, 84);
    width: 300px;
    height: 30px;
    border: 2px solid black;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease all;
}

.bookInf{
    background: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.fame:hover{
    background: rgb(58, 131, 153);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(31, 157, 161);
}

.fame{
    background: rgb(84, 238, 243);
    width: 300px;
    border: 2px solid black;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease all;
}

.gamble:hover{
    background: rgb(119, 91, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(53, 43, 0);
}

.gamble{
    background: rgb(255, 217, 45);
    width: 300px;
    height: 30px;
    border: 2px solid black;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease all;
}

.career, .college{
    width: 300px;
}

.crime:hover{
    background: rgb(255, 0, 0);
    color: white;
    border: 2px solid rgb(150, 24, 24);
}

.buttonGrid{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.infoPerson{
    margin: 1px;
    padding: 0px;
}

.item{
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
}

.comedy{
    background: linear-gradient(rgb(9, 157, 255), rgb(0, 110, 255))
}

.house{
    border: 2px solid black;
    border-radius: 10px;
}

.name:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.name:active{
    color: darkblue;
}

#leave{
    text-align: center;
    background: rgb(25, 118, 224);
    border-radius: 10px;
    width: 440px;
    height: 70px;
    padding: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
}

.drugs{
    background: rgb(25, 118, 224);
}

#prisonButtons{
    text-align: center;
    background: rgb(25, 118, 224);
    border-radius: 10px;
    width: 440px;
    height: 70px;
    padding: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}


::-webkit-scrollbar{
    display: none;
}

.bodyPart{
    width: 50px;
    height: 50px;
}

/*#buttons2{
    text-align: center;
    background: white;
    border-radius: 10px;
    width: 440px;
    height: 70px;
    padding: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: repeat(5, auto);
}*/

#popup{
    transform: scale(1.2);
    background: rgb(0, 132, 255);
    color: white;
    box-shadow: 0px 0px 4px 4px black;
    height: 390px;
    animation: alerted 0.3s;
    overflow: hidden;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

#popup2{
    transform: scale(1.2);
    background: rgb(0, 132, 255);
    color: white;
    height: 390px;
    animation: alerted 0.3s;
    box-shadow: 0px 0px 4px 4px rgb(0, 0, 0);
    overflow: hidden;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.big{
    font-size: 30px;
    border-radius: 5px;
    width: 200px;
}

.giant{
    font-size: 20px;
    border-radius: 5px;
    width: 200px;
}

@keyframes alerted{
    from{
        transform: scale(1)
    }

    to{
        transform: scale(1.2)
    }
}

.sectionHighlight{
    background: rgb(97, 238, 104);
    text-shadow: 1px 1px 2px black;
    border: 2px solid rgb(22, 192, 0);
    text-align: center;
    border-radius: 20px;
    width: auto;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sectionHighlight:hover{
    background: black;
    color: white;
}

.gray{
    color: #aafad2;
}

.fameBar{
    background: linear-gradient(rgb(255, 209, 5), rgb(248, 190, 29));
}

.blueCar{
    background: rgb(13, 73, 185);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(3, 92, 151);
}

.blueCard{
    background: rgb(52, 134, 241);
    color: rgb(194, 213, 255);
    border: 2px solid rgb(119, 119, 240);
}

.exp{
  height: auto !important;
}

.miniEvents{
    background: white;
    color: black;
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align:center;
    overflow-y: scroll;
}